{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Postni o'chirish</legend>
                <h2>Haqiqatan ham postni o‘chirib tashlamoqchimisiz "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Ha, o'chirilsin</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Orqaga</a>
            </div>
        </form>
    </div>
{% endblock content %}
